<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUPABASE_URL</key>
    <string>https://alegkdljychslvchmpfb.supabase.co</string>
    <key>SUPABASE_ANON_KEY</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsZWdrZGxqeWNoc2x2Y2htcGZiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYxNjU5MDMsImV4cCI6MjA3MTc0MTkwM30.SatplWEnI8aZUD0cOoDkQsPuBY9VsnSI2JDngjzoMIU</string>
</dict>
</plist>
